body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3 {
  margin: 0 0 0 0;
}

p {
  margin: 0 0 0 0;
}

ul {
  list-style-type: none;
  margin: 0 0 0 0;
  padding-left: 0;
}

img {
  display: block;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: baseline;
}

.header .container .nav {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.navigation {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  padding: 24px 0;
  display: block;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  font-weight: 700;
  margin-right: 76px;
}

.span-logo-header {
  color: #2e2f42;
}

.contacts-title {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* Section 1 */

.section-main {
  background-color: #2e2f42;
  padding: 188px 0;
}

.section-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.button {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  gap: 10px;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* Section 2 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-us-list {
  display: flex;
  gap: 24px;
}

.about-us-item {
  width: calc((100% - 72px) / 4);
}

.advantages-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 */

.section-our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  border-radius: 0 0 4px 4px;
}

.profession-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 3);
  border-radius: 0px 0px 4px 4px;
}

.profession-info {
  padding: 32px 0;
}

.name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  margin-bottom: 8px;
}

.profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* Section 4 */

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.span-logo-footer {
  color: #f4f4fd;
}
